{% extends 'grupos/base.html' %}

{% block title %}Reservas del Músico{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Reservas del Músico</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="list-group">
                    {% if todos_las_clases %}
                        {% for reserva in todos_las_clases %}
                            <div class="list-group-item list-group-item-action">
                                <h5 class="mb-1">{{ reserva.clase }}</h5>
                                <p class="mb-1">Grupo de clase: {{ reserva.clase.grupo_de_clase }}</p>
                                <p class="mb-1">Descripción: {{ reserva.clase.descripcion | default:"No proporcionado" }}</p>
                                <p class="mb-1">Fecha: {{ reserva.clase.fecha | date:"d/m/Y" }}</p>
                                <p class="mb-1">Hora de inicio: {{ reserva.clase.hora_inicio | date:"H:i" }}</p>
                                <p class="mb-1">Hora de fin: {{ reserva.clase.hora_fin | date:"H:i" }}</p>
                                <a href="{% url 'detalle-clase' reserva.clase.id %}" class="btn btn-primary btn-sm">Ver Detalles</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            No se encontraron reservas para este Músico.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}